body {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#details{
  visibility: hidden;
  width: 500px;
  max-height: 600px;
  border: 2px solid black;
  padding: 30px; 
  background: #BFACC8;
  overflow: scroll;
}
.container {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  padding: 30px; 
  background: #BFACC8;
}

label {
    display: inline-block;
    text-align: left;
  width: 100px;
  
}


table {
    margin-top:30px;
  width: 100%;
  border: 1px solid black;
  background: white;
  
}

#table thead {
  background: rgb(165, 162, 162);
}

#table th,
td {
  border: 1px solid black;
}
