body {
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    
    color: white;
}
h1{
    font-size: 40px;
}
.container{
    height : 500px;
    width: 500px;
    
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#TextBox1, #TextBox2{
    color: blue;
    margin-left: 10px;
    margin-top: 10px;
}

#Button1 , #Button2{
    background-color : indianred;
    color : white;
    margin-top : 20px;
    font:bolder;
}


